.browse-shades-filter{
    --background:var(--frosted-color-2);
    background: var(--background);
    border: 2px outset var(--background);
    width: 90%;
    border-radius: 15px;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-inline: auto;
    flex-direction: column;
    position: sticky;
    top: 15px;
    z-index: 2;
    transition: transform 0.4s ease, border-radius 0.4s ease,width 0.4s ease;
    transform-origin: center;
    will-change: transform;
    overflow-x: auto;
}
.browse-shades-filter-retracted {
    width: fit-content;
    max-width: 90%;
    border-radius: 100vh;
}                                                                    
.shades-filter-buttons-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-self: center;
    width: max-content;
}
.shades-filter-button{
    width: 50px;
    height: 50px;
    border-radius: 100vh;
    display: flex;
    padding: 2px;
    --background:var(--frosted-color-1);
    background: var(--background);
    border: 2px inset var(--background);
    &:hover{
        border-style: outset;
        cursor: pointer;
    };
}
