.home-desc{
    --background: var(--white);
    background: var(--background);
    border: 2px inset var(--background);
    text-align: center;
    width: 90%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-inline: auto;
    padding: 15px;
    font-size: 22px;
    border-radius: 5px;
    color: var(--black);
}
