:root{
    --lios-loader-3-container-color:var(--color-4);
    --lios-loader-3-cube-color:var(--color-2);
    --lios-loader-3-trail-color:var(--color-5);
    --lios-loader-3-track-color:var(--frosted-color-2);
    --lios-action-button-background:var(--primary);
    --lios-action-button-box-shadow:var(--color-4);
    color: var(--color-4);
}
.lios-button{
    --lios-button-background : var(--primary);
    --lios-button-on-hover-background : var(--color-3)
}
.lios-loader-3 div:last-child{
    overflow: hidden;
}
.lios-action-button{
    color: var(--black)
}
/* Browse */
.browse-load-more-button{
    --lios-action-button-background:var(--color-4);
    --lios-action-button-box-shadow:var(--color-1);    
}