:root{
    background: radial-gradient(circle,var(--primary),var(--secondary));
}

.hero-loader{
    z-index: 1000;
    display: flex;
    position: fixed;
    justify-self: center;
    align-self: center;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%, 50%);
}
.hero-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
}
a.lios-action-button{
    text-decoration: none;
    color: unset;
    
}
.copy-button{
    cursor: pointer;
}
.copyable-code{
    display: flex;
    justify-content: space-between;
    width: 90%;
    justify-self: center;
    padding: 4px;
    align-items: center;
    border-radius: 5px;
    background: var(--frosted-color-1);
    border: 2px inset var(--frosted-color-1);
}
.copyable-code code{
    overflow-x: auto;
    text-wrap: wrap;
}
.main-container{
    --background: var(--frosted-white);
    background: var(--background);
    border: 2px outset var(--background);
    border-radius: 15px;
}
.title-text{
    text-align: center;
    font-size: 80px;
    --lios-text-shadow-color: var(--color-3);
}